# 4-3 이미지 내부 문자 인식

## 손글씨 숫자 인식하기

In [9]:
# 압축데이터 받기 → csv 로 변경은 교재 예제 참조
# http://yann.lecun.com/exdb/mnist

In [1]:
"""손글씨 숫자 인식하기"""

from sklearn import model_selection, svm, metrics
import pandas #판다스를 이용합니다.

In [10]:
train_csv = pandas.read_csv("./mnist/train.csv", header=None) 
tk_csv = pandas.read_csv("./mnist/t10k.csv", header=None)
#mnist 폴더에 있는 학습용/테스트용 손글씨 데이터 csv 파일을 각각 train_csv, tk_csv 변수로 지정합니다.
#헤더에 아무 정보가 없어서 header는 None으로 지정했습니다.

In [11]:
train_csv.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
tk_csv.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
t1 = train_csv.iloc[:, 1:].values
t2 = train_csv.iloc[:, 1:]

In [22]:
print(type(t1), type(t2))

<class 'numpy.ndarray'> <class 'pandas.core.frame.DataFrame'>

In [23]:
t1.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [24]:
t1

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [25]:
train_csv_data = train_csv.iloc[:, 1:].values
tk_csv_data = tk_csv.iloc[:, 1:].values
#csv 파일 내에 있는 숫자들을 데이터로 지정하는데요, 첫번째 셀은은 정답이 적혀있는 셀이라 전체 셀 중 1셀 이후의 셀들로 지정했습니다.
# https://youtu.be/3mQFR14zaB4?t=4m6s 이 부분을 보면서 설명할게요


"""
(질문)
value로 지정한다고 했는데 이게 무슨 의미인지 모르겠습니다.
key 와 value가 매칭된다는 내용은 구글링에서 봤는데 key:value 형태로 쓰이지 . 다음에 value를 쓰는건 무슨 의미인지 모르겠습니다.
"""

'\n(질문)\nvalue로 지정한다고 했는데 이게 무슨 의미인지 모르겠습니다.\nkey 와 value가 매칭된다는 내용은 구글링에서 봤는데 key:value 형태로 쓰이지 . 다음에 value를 쓰는건 무슨 의미인지 모르겠습니다.\n'

In [26]:
train_csv_label = train_csv[0].values
tk_csv_label = tk_csv[0].values
#csv 파일 내에 있는 정답을 label로 지정했습니다. 첫번째 셀이라 [0]으로 지정했습니다.

In [29]:
#아래 내용은 붓꽃 데이터 구할 때 했던 내용과 동일합니다.
clf = svm.SVC()
clf.fit(train_csv_data, train_csv_label)
predict = clf.predict(tk_csv_data)
score = metrics.accuracy_score(tk_csv_label, predict)
print("정답률:", score)

정답률: 0.0978043912176

In [ ]:
# .vlaues ??   --> pandas 표 형태 사용 하지 X. 순수하게 배열

In [38]:
# t1 Vs t2
t1 = train_csv.iloc[:, 1:].values
t2 = train_csv.iloc[:, 1:]

In [39]:
print(type(t1), type(t2))

<class 'numpy.ndarray'> <class 'pandas.core.frame.DataFrame'>

In [40]:
t1.head()

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [ ]:
t1

In [30]:
# array 형태(~.values)가 아닌 pandas 그대로 학습하기

In [32]:
train_data = train_csv.iloc[:, 1:]
train_label = train_csv[0]

In [33]:
test_data = tk_csv.iloc[:,1:]
test_label = tk_csv[0]

In [34]:
clf2 = svm.SVC()
clf2.fit(train_data, train_label)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [35]:
predict2 = clf2.predict(test_data)

In [36]:
score2 = metrics.accuracy_score(predict2, test_label)

In [37]:
print(score2)

0.0978043912176